<%- include("partials/header") -%>


<div>
    <% posts.forEach(function(post){ %>

        <h1 ><a style="color:black; text-decoration: none;"  href="/posts/<%= post.title %>" ><%= post.title %></h1></a>
        <p> <%= post.bodyCont.substring(0, 100) + "...." %>
            <a href="/posts/<%= post.title %>">Read More</a>
        </p>

    <% }); %>

</div>

<%- include("partials/footer") -%>
